--
-- PostgreSQL database dump
--

\restrict 2EBNUjkXtpyu0UXMCpxVoLXtffZTQqGhhudBJanxDkCDRPU3LbDhMouxPgRydLW

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_keys_history; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.api_keys_history (
    id bigint NOT NULL,
    app_id bigint NOT NULL,
    api_key_hash character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    revoked_at timestamp without time zone
);


ALTER TABLE public.api_keys_history OWNER TO admin;

--
-- Name: api_keys_history_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.api_keys_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.api_keys_history_id_seq OWNER TO admin;

--
-- Name: api_keys_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.api_keys_history_id_seq OWNED BY public.api_keys_history.id;


--
-- Name: app_owners; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.app_owners (
    id bigint NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(255),
    company_name character varying(255),
    is_verified boolean DEFAULT false,
    verification_token character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_login timestamp without time zone,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.app_owners OWNER TO admin;

--
-- Name: app_owners_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.app_owners_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.app_owners_id_seq OWNER TO admin;

--
-- Name: app_owners_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.app_owners_id_seq OWNED BY public.app_owners.id;


--
-- Name: apps; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.apps (
    id bigint NOT NULL,
    owner_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(500),
    api_key character varying(64) NOT NULL,
    api_key_rotated_at timestamp without time zone,
    is_active boolean DEFAULT true,
    settings jsonb DEFAULT '{}'::jsonb,
    webhook_url character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.apps OWNER TO admin;

--
-- Name: apps_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.apps_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.apps_id_seq OWNER TO admin;

--
-- Name: apps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.apps_id_seq OWNED BY public.apps.id;


--
-- Name: badges; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.badges (
    id bigint NOT NULL,
    app_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(500),
    image_url character varying(500),
    image_public_id character varying(255),
    is_hidden boolean DEFAULT false,
    max_awards_per_user integer,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.badges OWNER TO admin;

--
-- Name: badges_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.badges_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.badges_id_seq OWNER TO admin;

--
-- Name: badges_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.badges_id_seq OWNED BY public.badges.id;


--
-- Name: incoming_events; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.incoming_events (
    id bigint NOT NULL,
    app_id bigint NOT NULL,
    user_id character varying(255) NOT NULL,
    event_name character varying(255) NOT NULL,
    event_data jsonb,
    processed boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.incoming_events OWNER TO admin;

--
-- Name: incoming_events_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.incoming_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.incoming_events_id_seq OWNER TO admin;

--
-- Name: incoming_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.incoming_events_id_seq OWNED BY public.incoming_events.id;


--
-- Name: points_balance; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.points_balance (
    id bigint NOT NULL,
    user_id character varying(255) NOT NULL,
    app_id bigint NOT NULL,
    balance integer DEFAULT 0,
    lifetime_earned integer DEFAULT 0,
    last_updated timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.points_balance OWNER TO admin;

--
-- Name: points_balance_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.points_balance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.points_balance_id_seq OWNER TO admin;

--
-- Name: points_balance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.points_balance_id_seq OWNED BY public.points_balance.id;


--
-- Name: points_transactions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.points_transactions (
    id bigint NOT NULL,
    user_id character varying(255) NOT NULL,
    app_id bigint NOT NULL,
    amount integer NOT NULL,
    type character varying(255) NOT NULL,
    reason character varying(255),
    rule_id bigint,
    balance_after integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.points_transactions OWNER TO admin;

--
-- Name: points_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.points_transactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.points_transactions_id_seq OWNER TO admin;

--
-- Name: points_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.points_transactions_id_seq OWNED BY public.points_transactions.id;


--
-- Name: registered_events; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.registered_events (
    id bigint NOT NULL,
    event_name character varying(255),
    registered_at timestamp(6) without time zone,
    app_id bigint
);


ALTER TABLE public.registered_events OWNER TO admin;

--
-- Name: registered_events_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.registered_events ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.registered_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rule_trigger_events; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.rule_trigger_events (
    rule_id bigint NOT NULL,
    event_name character varying(255) NOT NULL
);


ALTER TABLE public.rule_trigger_events OWNER TO admin;

--
-- Name: rule_trigger_history; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.rule_trigger_history (
    id bigint NOT NULL,
    app_id bigint NOT NULL,
    rule_id bigint NOT NULL,
    triggered_at timestamp(6) without time zone NOT NULL,
    user_id character varying(255) NOT NULL
);


ALTER TABLE public.rule_trigger_history OWNER TO admin;

--
-- Name: rule_trigger_history_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.rule_trigger_history ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rule_trigger_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rules; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.rules (
    id bigint NOT NULL,
    app_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(500),
    trigger_event character varying(255) NOT NULL,
    conditions jsonb,
    actions jsonb NOT NULL,
    priority integer DEFAULT 0,
    cooldown_minutes integer,
    max_awards_per_user integer,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.rules OWNER TO admin;

--
-- Name: rules_advanced; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.rules_advanced (
    id bigint NOT NULL,
    actions jsonb,
    is_active boolean,
    condition_logic character varying(255),
    conditions jsonb,
    cooldown_minutes integer,
    counting_window_days integer,
    created_at timestamp(6) without time zone,
    description character varying(500),
    last_triggered_at timestamp(6) without time zone,
    max_awards_per_user integer,
    metadata jsonb,
    name character varying(255) NOT NULL,
    priority integer,
    trigger_count bigint,
    updated_at timestamp(6) without time zone,
    version integer,
    app_id bigint NOT NULL
);


ALTER TABLE public.rules_advanced OWNER TO admin;

--
-- Name: rules_advanced_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.rules_advanced ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rules_advanced_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rules_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.rules_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rules_id_seq OWNER TO admin;

--
-- Name: rules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.rules_id_seq OWNED BY public.rules.id;


--
-- Name: user_badges; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.user_badges (
    id bigint NOT NULL,
    user_id character varying(255) NOT NULL,
    badge_id bigint NOT NULL,
    awarded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    seen_at timestamp without time zone
);


ALTER TABLE public.user_badges OWNER TO admin;

--
-- Name: user_badges_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.user_badges_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_badges_id_seq OWNER TO admin;

--
-- Name: user_badges_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.user_badges_id_seq OWNED BY public.user_badges.id;


--
-- Name: widget_configs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.widget_configs (
    id bigint NOT NULL,
    accent_color character varying(255),
    animate boolean,
    background_color character varying(255),
    border_radius integer,
    content_mode character varying(255) NOT NULL,
    created_at timestamp(6) without time zone,
    dark_mode boolean,
    display_mode character varying(255) NOT NULL,
    font_family character varying(255),
    label character varying(255),
    language character varying(255),
    name character varying(255) NOT NULL,
    publishable_key character varying(255) NOT NULL,
    show_level boolean,
    show_lifetime boolean,
    text_color character varying(255),
    updated_at timestamp(6) without time zone,
    app_id bigint NOT NULL
);


ALTER TABLE public.widget_configs OWNER TO admin;

--
-- Name: widget_configs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.widget_configs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.widget_configs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_keys_history id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.api_keys_history ALTER COLUMN id SET DEFAULT nextval('public.api_keys_history_id_seq'::regclass);


--
-- Name: app_owners id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.app_owners ALTER COLUMN id SET DEFAULT nextval('public.app_owners_id_seq'::regclass);


--
-- Name: apps id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.apps ALTER COLUMN id SET DEFAULT nextval('public.apps_id_seq'::regclass);


--
-- Name: badges id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.badges ALTER COLUMN id SET DEFAULT nextval('public.badges_id_seq'::regclass);


--
-- Name: incoming_events id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.incoming_events ALTER COLUMN id SET DEFAULT nextval('public.incoming_events_id_seq'::regclass);


--
-- Name: points_balance id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.points_balance ALTER COLUMN id SET DEFAULT nextval('public.points_balance_id_seq'::regclass);


--
-- Name: points_transactions id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.points_transactions ALTER COLUMN id SET DEFAULT nextval('public.points_transactions_id_seq'::regclass);


--
-- Name: rules id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rules ALTER COLUMN id SET DEFAULT nextval('public.rules_id_seq'::regclass);


--
-- Name: user_badges id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_badges ALTER COLUMN id SET DEFAULT nextval('public.user_badges_id_seq'::regclass);


--
-- Data for Name: api_keys_history; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.api_keys_history (id, app_id, api_key_hash, created_at, revoked_at) FROM stdin;
\.


--
-- Data for Name: app_owners; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: apps; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: badges; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: incoming_events; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: points_balance; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: points_transactions; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: registered_events; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: rule_trigger_events; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.rule_trigger_events (rule_id, event_name) FROM stdin;
22	login
22	sendMessage
\.


--
-- Data for Name: rule_trigger_history; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: rules; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: rules_advanced; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: user_badges; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.user_badges (id, user_id, badge_id, awarded_at, seen_at) FROM stdin;
1	user_123	1	2026-02-23 23:55:17.750198	\N
2	anon_1776098827648	8	2026-04-13 17:48:21.796386	\N
\.


--
-- Data for Name: widget_configs; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: api_keys_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.api_keys_history_id_seq', 1, false);


--
-- Name: app_owners_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.app_owners_id_seq', 11, true);


--
-- Name: apps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.apps_id_seq', 15, true);


--
-- Name: badges_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.badges_id_seq', 8, true);


--
-- Name: incoming_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.incoming_events_id_seq', 199, true);


--
-- Name: points_balance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.points_balance_id_seq', 28, true);


--
-- Name: points_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.points_transactions_id_seq', 62, true);


--
-- Name: registered_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.registered_events_id_seq', 358, true);


--
-- Name: rule_trigger_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.rule_trigger_history_id_seq', 33, true);


--
-- Name: rules_advanced_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.rules_advanced_id_seq', 22, true);


--
-- Name: rules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.rules_id_seq', 27, true);


--
-- Name: user_badges_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.user_badges_id_seq', 2, true);


--
-- Name: widget_configs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.widget_configs_id_seq', 2, true);


--
-- Name: api_keys_history api_keys_history_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.api_keys_history
    ADD CONSTRAINT api_keys_history_pkey PRIMARY KEY (id);


--
-- Name: app_owners app_owners_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.app_owners
    ADD CONSTRAINT app_owners_email_key UNIQUE (email);


--
-- Name: app_owners app_owners_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.app_owners
    ADD CONSTRAINT app_owners_pkey PRIMARY KEY (id);


--
-- Name: apps apps_api_key_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.apps
    ADD CONSTRAINT apps_api_key_key UNIQUE (api_key);


--
-- Name: apps apps_owner_id_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.apps
    ADD CONSTRAINT apps_owner_id_name_key UNIQUE (owner_id, name);


--
-- Name: apps apps_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.apps
    ADD CONSTRAINT apps_pkey PRIMARY KEY (id);


--
-- Name: badges badges_app_id_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.badges
    ADD CONSTRAINT badges_app_id_name_key UNIQUE (app_id, name);


--
-- Name: badges badges_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.badges
    ADD CONSTRAINT badges_pkey PRIMARY KEY (id);


--
-- Name: incoming_events incoming_events_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.incoming_events
    ADD CONSTRAINT incoming_events_pkey PRIMARY KEY (id);


--
-- Name: points_balance points_balance_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.points_balance
    ADD CONSTRAINT points_balance_pkey PRIMARY KEY (id);


--
-- Name: points_balance points_balance_user_id_app_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.points_balance
    ADD CONSTRAINT points_balance_user_id_app_id_key UNIQUE (user_id, app_id);


--
-- Name: points_transactions points_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.points_transactions
    ADD CONSTRAINT points_transactions_pkey PRIMARY KEY (id);


--
-- Name: registered_events registered_events_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.registered_events
    ADD CONSTRAINT registered_events_pkey PRIMARY KEY (id);


--
-- Name: rule_trigger_history rule_trigger_history_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rule_trigger_history
    ADD CONSTRAINT rule_trigger_history_pkey PRIMARY KEY (id);


--
-- Name: rules_advanced rules_advanced_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rules_advanced
    ADD CONSTRAINT rules_advanced_pkey PRIMARY KEY (id);


--
-- Name: rules rules_app_id_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rules
    ADD CONSTRAINT rules_app_id_name_key UNIQUE (app_id, name);


--
-- Name: rules rules_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rules
    ADD CONSTRAINT rules_pkey PRIMARY KEY (id);


--
-- Name: points_balance uk7adat1xjgsu2klfbbxevhyn9h; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.points_balance
    ADD CONSTRAINT uk7adat1xjgsu2klfbbxevhyn9h UNIQUE (user_id, app_id);


--
-- Name: points_balance uk_points_user_app; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.points_balance
    ADD CONSTRAINT uk_points_user_app UNIQUE (user_id, app_id);


--
-- Name: widget_configs ukemy07vb1u5xqhgbqshrcu3va8; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.widget_configs
    ADD CONSTRAINT ukemy07vb1u5xqhgbqshrcu3va8 UNIQUE (publishable_key);


--
-- Name: user_badges user_badges_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_badges
    ADD CONSTRAINT user_badges_pkey PRIMARY KEY (id);


--
-- Name: user_badges user_badges_user_id_badge_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_badges
    ADD CONSTRAINT user_badges_user_id_badge_id_key UNIQUE (user_id, badge_id);


--
-- Name: widget_configs widget_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.widget_configs
    ADD CONSTRAINT widget_configs_pkey PRIMARY KEY (id);


--
-- Name: idx_apps_api_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_apps_api_key ON public.apps USING btree (api_key);


--
-- Name: idx_apps_owner_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_apps_owner_id ON public.apps USING btree (owner_id);


--
-- Name: idx_badges_app_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_badges_app_id ON public.badges USING btree (app_id);


--
-- Name: idx_events_app_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_events_app_id ON public.incoming_events USING btree (app_id);


--
-- Name: idx_events_event_name; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_events_event_name ON public.incoming_events USING btree (event_name);


--
-- Name: idx_events_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_events_user_id ON public.incoming_events USING btree (user_id);


--
-- Name: idx_points_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_points_user_id ON public.points_balance USING btree (user_id);


--
-- Name: idx_rte_event_name; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_rte_event_name ON public.rule_trigger_events USING btree (event_name);


--
-- Name: idx_rte_rule_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_rte_rule_id ON public.rule_trigger_events USING btree (rule_id);


--
-- Name: idx_rth_rule_user; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_rth_rule_user ON public.rule_trigger_history USING btree (rule_id, user_id);


--
-- Name: idx_rth_triggered_at; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_rth_triggered_at ON public.rule_trigger_history USING btree (triggered_at);


--
-- Name: idx_rth_user_app; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_rth_user_app ON public.rule_trigger_history USING btree (user_id, app_id);


--
-- Name: idx_rules_app_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_rules_app_id ON public.rules USING btree (app_id);


--
-- Name: idx_rules_trigger_event; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_rules_trigger_event ON public.rules USING btree (trigger_event);


--
-- Name: idx_transactions_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_transactions_user_id ON public.points_transactions USING btree (user_id);


--
-- Name: idx_user_badges_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_user_badges_user_id ON public.user_badges USING btree (user_id);


--
-- Name: api_keys_history api_keys_history_app_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.api_keys_history
    ADD CONSTRAINT api_keys_history_app_id_fkey FOREIGN KEY (app_id) REFERENCES public.apps(id) ON DELETE CASCADE;


--
-- Name: apps apps_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.apps
    ADD CONSTRAINT apps_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.app_owners(id) ON DELETE CASCADE;


--
-- Name: badges badges_app_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.badges
    ADD CONSTRAINT badges_app_id_fkey FOREIGN KEY (app_id) REFERENCES public.apps(id) ON DELETE CASCADE;


--
-- Name: rules_advanced fkcndbcg3wna8a9m9iwo7t0j7x6; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rules_advanced
    ADD CONSTRAINT fkcndbcg3wna8a9m9iwo7t0j7x6 FOREIGN KEY (app_id) REFERENCES public.apps(id);


--
-- Name: registered_events fki3gowm3a69i7tec4wkl6ceo5d; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.registered_events
    ADD CONSTRAINT fki3gowm3a69i7tec4wkl6ceo5d FOREIGN KEY (app_id) REFERENCES public.apps(id);


--
-- Name: widget_configs fkqcg830g1ik5fbitcrjs8fxac2; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.widget_configs
    ADD CONSTRAINT fkqcg830g1ik5fbitcrjs8fxac2 FOREIGN KEY (app_id) REFERENCES public.apps(id);


--
-- Name: incoming_events incoming_events_app_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.incoming_events
    ADD CONSTRAINT incoming_events_app_id_fkey FOREIGN KEY (app_id) REFERENCES public.apps(id) ON DELETE CASCADE;


--
-- Name: points_balance points_balance_app_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.points_balance
    ADD CONSTRAINT points_balance_app_id_fkey FOREIGN KEY (app_id) REFERENCES public.apps(id) ON DELETE CASCADE;


--
-- Name: points_transactions points_transactions_app_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.points_transactions
    ADD CONSTRAINT points_transactions_app_id_fkey FOREIGN KEY (app_id) REFERENCES public.apps(id) ON DELETE CASCADE;


--
-- Name: points_transactions points_transactions_rule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.points_transactions
    ADD CONSTRAINT points_transactions_rule_id_fkey FOREIGN KEY (rule_id) REFERENCES public.rules(id);


--
-- Name: rule_trigger_events rule_trigger_events_rule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rule_trigger_events
    ADD CONSTRAINT rule_trigger_events_rule_id_fkey FOREIGN KEY (rule_id) REFERENCES public.rules_advanced(id) ON DELETE CASCADE;


--
-- Name: rules rules_app_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rules
    ADD CONSTRAINT rules_app_id_fkey FOREIGN KEY (app_id) REFERENCES public.apps(id) ON DELETE CASCADE;


--
-- Name: user_badges user_badges_badge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_badges
    ADD CONSTRAINT user_badges_badge_id_fkey FOREIGN KEY (badge_id) REFERENCES public.badges(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 2EBNUjkXtpyu0UXMCpxVoLXtffZTQqGhhudBJanxDkCDRPU3LbDhMouxPgRydLW

